
<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Designation</th>
      <th>Linkedin Link</th>
    </tr>
  </thead>
  <tbody>
    {% for row in rows %}
      <tr>
        <td>{{ row.name }}</td>
        <td>{{ row.designation }}</td>
        <td>{{ row.profile_link }}</td>
      </tr>
    {% endfor %}
  </tbody>
</table>